header.header.block.relative
  //- logo
  div.logo.block.absolute.top.left.margin-left-15px.margin-top-10px.grow
    a(href="/" title="Home")
      span.cream w

  //- main menu
  nav.main-menu.block.relative
    button.menu-button.block(href="#") <span class="hamburger"></span> Menu
    ul.links.no-padding-left.margin-left-10px.margin-right-10px
      li
        a(href="index.html") Home
      li
        a(href="about.html") About
      li
        a(href="work.html") Work
      li
        a(href="contact.html") Contact
