meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(charset="utf-8")
meta(name="theme-color" content="#00001a")
meta(name="description" content="")
block title
  title Default Title
link(rel = "stylesheet" href = "css/wolfhound.css")
link(href='https://fonts.googleapis.com/css?family=Lato:400,900,700|Montserrat:400,700|Lora:400,400italic' rel='stylesheet' type='text/css')

//
  Interested to see how this was made?

  Checkout this on github, all the code is there.

