// forms

label {
  display: block;
  padding: 0.3em 0 0.5em 0;
}

input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  color: $primaryForegroundColour;
  background: $mainBackgroundColour;
  padding: 0.4em 0.6em;
  outline: 0;
  font-family: $body-font;
  border:0;
  border-bottom: 2px solid rgba($primaryForegroundColour,1);
  background: rgba($primaryForegroundColour, 0.2);
  @include transition(all 0.2s linear);
}

input[type="radio"], input[type="checkbox"] {
  float: left;
  display: block;
  margin: 10px 10px 6px 0;
}

select{
  option {
    background: $mainBackgroundColour;
  }
}

textarea{
  height:150px;
  resize: none;
}
