// no margins

.no-margins{
  margin: 0;
}
.no-margin-top{
  margin-top: 0;
}
.no-margin-bottom{
  margin-bottom: 0;
}
.no-margin-left{
  margin-left: 0;
}
.no-margin-right{
  margin-right: 0;
}

// px margins
// all
$i: 5;
@while $i < 50 {
  .margin-all-#{$i}px{
    margin: #{$i}px;
  }
  $i: $i + 5;
}

// left
$i: 5;
@while $i < 50 {
  .margin-left-#{$i}px{
    margin-left: #{$i}px;
  }
  $i: $i + 5;
}

// right
$i: 5;
@while $i < 50 {
  .margin-right-#{$i}px{
    margin-right: #{$i}px;
  }
  $i: $i + 5;
}

// top
$i: 5;
@while $i < 50 {
  .margin-top-#{$i}px{
    margin-top: #{$i}px;
  }
  $i: $i + 5;
}

// bottom
$i: 5;
@while $i < 50 {
  .margin-bottom-#{$i}px{
    margin-bottom: #{$i}px;
  }
  $i: $i + 5;
}

