extends templates/html.jade

block title
  title Contact - Wolfhound Media Design

block content
  div.the-grid.small
    div.a-row
      div.a-column.width-1-of-12
        h1 Contact

        p If you want to get in touch, you can. Please fill out the details below.

        form(name="contact")
          div.a-row.margin-bottom-10px
            div.a-column.width-1-of-12
              label(for="name") Name
              input(name="name" id="name" type="text" placeholder="Joe Soap")

          div.a-row.margin-bottom-10px
            div.a-column.width-1-of-12
              label(for="email") E-mail
              input(name="email" id="email" type="text" placeholder="Joe.Soap@domain.com")

          div.a-row.margin-bottom-10px
            div.a-column.width-1-of-12
              label(for="query") What's your query about?
              select(name="query" id="query")
                option(value="" selected) Please choose a subject
                option(value="1") Option 1
                option(value="2") Option 2
                option(value="3") Option 3

          div.a-row.margin-bottom-10px
            div.a-column.width-1-of-12
              label(for="message") Optional Message
              textarea(name="message" id="message" placeholder="Leave me a message describing what you're looking for")

          div.a-row.margin-bottom-10px
            div.a-column.width-1-of-12
              input(name="spam" id="spam" type="checkbox")
              label(for="spam") Would you like to opt-in for our newsspam? It's chock full of your RDA of spam.

          div.a-row.margin-bottom-10px
            div.a-column.width-1-of-12
              p Some other question
            div.a-column.width-2-of-12
              input(name="spam2" id="spam21" type="radio")
              label(for="spam21") Yes
            div.a-column.width-2-of-12
              input(name="spam2" id="spam22" type="radio")
              label(for="spam22") No
