extends templates/html.jade

block variables
  // - var className = 'home'
  - var footerHidden = true;

block title
  title Wolfhound Media Design

block content
  div.v-align-outer.block.relative
    div.v-align-inner.absolute
      div.v-align-text.cream.no-margins.margin-left-15px.margin-right-15px
        h1.title-text
          span.wolf Wolfhound
          span.mediadesign Media Design

        span.divider

        a(href="#").ghost-button.bold.inline-block.header-font.margin-top-20px Need a website?
