extends templates/html.jade

block title
  title Page - Wolfhound Media Design

block content
  div.the-grid.small
    div.a-row
      div.a-column.width-1-of-12
        h1 About - Header 1
        h2 About - Header 2
        h3 About - Header 3
        h5 About - Header 4
        h5 About - Header 5
        h6 About - Header 6

        p I currently work for the <a href="https://www.aerlingus.com">Aer Lingus</a> Digital Team. My main function is as a Front-end developer. Primarily using Javascript, CSS and HTML.

        p Pid ridiculus habitasse cras sit rhoncus adipiscing adipiscing habitasse montes mattis turpis, ac phasellus odio in tristique odio platea non tortor penatibus tempor amet! Diam sagittis urna nec. Tortor urna quis tincidunt ac, arcu elit proin, sagittis scelerisque, vut phasellus, mattis integer? <a href="#">Penatibus augue scelerisque</a>, auctor vut! Elementum dapibus elementum, sit turpis a integer. Lundium, nec porttitor nisi elementum augue aenean sed augue vel, placerat mid! Integer turpis massa! Mauris platea placerat pellentesque magna turpis. Lundium sociis porttitor sit adipiscing, magna magnis aliquam turpis. Et, dignissim turpis rhoncus integer vel, natoque enim, tortor magnis, in ut augue lacus tortor eu odio sit mattis odio parturient sociis! Ultrices magna scelerisque adipiscing mid pellentesque, est cras sit porta nisi turpis sit scelerisque.

        p Egestas platea. Lectus magna, risus! Hac sit porttitor, egestas et integer. Nisi et turpis sociis, egestas integer, duis augue! Nunc scelerisque nec placerat amet scelerisque in. <a href="#">Cras cum odio amet ultrices pulvinar, et pulvinar eu</a> integer ac aliquet tortor, mid ac placerat sed tortor placerat vut est ac proin! Eros diam. Sed pid auctor, porta ultricies tincidunt pid pellentesque, pid rhoncus et turpis dolor magnis! Tincidunt natoque tempor dis porttitor aenean auctor sagittis integer, integer dolor, purus velit ac nisi adipiscing et porta, amet, est auctor. Vel vel habitasse quis pellentesque rhoncus enim habitasse! Duis phasellus parturient! Scelerisque integer dis elementum dolor odio, penatibus, nunc pulvinar dapibus. Egestas risus vel placerat, est eu scelerisque turpis in, dis. Elementum risus.

        p Magnis duis purus turpis, ac, in in dictumst nec platea augue, porttitor. Tristique. Lundium ac facilisis vel integer. Risus. Dapibus aenean placerat diam facilisis sed massa diam pid rhoncus sagittis massa? Non ac in tempor, proin pellentesque placerat, mattis, sed rhoncus tristique ut sed amet, sit sed, penatibus? Eu urna ac ac ac, est pid platea. Pulvinar dis est sociis. Porttitor rhoncus elementum nisi velit sit amet! Platea turpis, vut lundium nascetur ut nascetur? Lorem pid elit. Porta sit! Sed tempor enim, duis! Platea porta lundium, egestas odio in, ut nec. Nisi tortor odio magna est nec quis eu. Lectus proin et dictumst nec lundium facilisis, aliquam? Ut nisi mid aenean! Mauris magna ridiculus egestas ultricies porta! Rhoncus nec.

        pre {
          |   code: [
          |     sample: "sample"
          |   ]
          | }

        blockquote
          p Turpis ut pulvinar, scelerisque tristique aliquet nec ac porttitor aliquet. Etiam in enim diam lectus dapibus

        p Porta, turpis, pulvinar? Lectus placerat sed etiam? Massa non enim montes nunc eu sociis ac eros! Elementum rhoncus pulvinar porta ut integer integer. Purus etiam cursus lectus nunc augue, rhoncus. In hac et dictumst? Etiam. Augue scelerisque a cum dolor integer enim tincidunt enim penatibus, nunc aliquet aliquet urna sagittis nisi mid, tristique, porttitor, turpis lacus ut, sagittis auctor? Dignissim sociis risus! Eu. Magna, odio? Pulvinar natoque velit natoque turpis nunc, porttitor dis? Turpis ut pulvinar, scelerisque tristique aliquet nec ac porttitor aliquet. Etiam in enim diam lectus dapibus, et non ultricies tristique, turpis elit mauris rhoncus in lacus natoque sit, sagittis, montes, mauris et tincidunt, ac, turpis, tristique enim ac, est? Ut massa. Enim! Tempor platea integer placerat.

        p In urna amet elementum integer! Risus velit sociis. Cras cum non odio vel odio tempor mauris ac montes sit pulvinar magnis augue augue, velit montes integer tempor porttitor nisi, nascetur in, sociis augue, parturient dolor mauris adipiscing. Turpis, augue, elit auctor integer cum auctor! Parturient scelerisque adipiscing? Elementum aliquam porta mus, nunc etiam proin placerat. In rhoncus placerat cursus, nisi quis sagittis, tortor! Aliquam tincidunt! Et enim porta pulvinar nascetur integer? Dis, elit placerat proin in! Placerat enim, pellentesque? Nec magna mus porttitor, penatibus aenean facilisis, nisi platea, dapibus? Sagittis sed, lectus turpis adipiscing porttitor, placerat aenean ultrices elementum phasellus ac mattis aliquam rhoncus, a, velit adipiscing, cum sagittis sit, amet ultricies nisi. Eu sagittis, nisi magnis augue cras.
